@font-face {
    font-family: "Overcame-Demo";
    src: url('../fonts/overcame-demo.regular.ttf');
}

* {
    --bold-font: Overcame-Demo, sans-serif;

    --main-color: #fff;
    --accent-color: #f7f9fd;
    --secondary-color: #172033;
    --secondary-accent: #131931;
    --height: 8vh;
    --body-height: calc(100vh - var(--height) - var(--height));
    font-family: Arial, sans-serif;
}

html {
    min-height: 100vh;
    padding: 0px;

    font-size: 14px;
    position: relative;
}

body {
  margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* header */

header > div:first-child {
    min-width: 16vw;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#companyLogo {
    max-height: 6vh;
}

#companyName {
    font-size: 24px;
    font-family: var(--bold-font);
    color: var(--secondary-color);
    padding: 0px;
}