@font-face {
    font-family: "Overcame-Demo";
    src: url('../fonts/overcame-demo.regular.ttf');
}

* {
    --bold-font: Overcame-Demo, sans-serif;

    --main-color: #fff;
    --accent-color: #f7f9fd;
    --secondary-color: #172033;
    --secondary-accent: #131931;
    --height: 8vh;
    --body-height: calc(100vh - var(--height) - var(--height));
    font-family: Arial, sans-serif;
}

html {
    min-height: 100vh;
    padding: 0px;

    font-size: 14px;
    position: relative;
}

body {
  margin: 0px;
  color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    cursor: pointer;
}

.boldFont {
    font-family: var(--bold-font);
    font-weight: lighter;
    letter-spacing: 1px;
}

i {
    font-size: 16px;
}

/* header */

header > div:first-child {
    min-width: 16vw;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#companyLogo {
    max-height: 6vh;
}

#companyName {
    font-size: 24px;
    font-family: var(--bold-font);
    letter-spacing: 1px;
    color: var(--secondary-color);
}

/* Index.cshtml */

.widgetContainer {
    box-sizing: border-box;
    min-height: 80vh;
    padding: 2vh 4vw;

    border-radius: 4px;

    background: var(--main-color);
    background: linear-gradient(90deg, var(--main-color) 0%, var(--accent-color) 100%);
}

#widgetContainerHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#widgetContainerHeader > a {
    display: flex;
    align-items: center;
    gap: 4px;
}

#widgetItem {
    width: 80%;
    margin: 2vh auto;
    padding: 1vh 2vw;

    border-radius: 4px;
    border: 1px solid var(--secondary-color);
}

#widgetItem > h3, #widgetItem > p {
    margin: 4px 0px;
}

#fallbackMessage {
    padding-top: 4vh;
    margin: 0px;

    text-align: center;
    font-weight: lighter;
    border-top: 1px solid var(--secondary-color);
}

/* Add.cshtml */

.widgetContainer > h2 {
    padding-bottom: 4vh;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
}

form {
    min-height: 60vh;
    margin: 2vh auto;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

form > div {
    margin: 0px auto;
}

#dateTimeContainer {
    width: 100%;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#dateTimeContainer > div {
    width: 45%;
    display: flex;
    flex-direction: column;
}

input, select {
    border: 1px solid var(--secondary-color);
    margin-bottom: 2vh;
    padding: 1vh 1vw;
    margin-top: 2px;
}

input:user-invalid, select:user-invalid {
    border: 1px solid red;
}

.vertical {
    display: flex;
    flex-direction: column;
}

button {
    width: 45%;
    margin: 0px auto;
    padding: 1vh 1vw;
    margin-top: 2vh;

    border-radius: 4px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
}

button:hover {
    cursor: pointer;
    background-color: var(--secondary-accent);
}

/* Confirm.cshtml */

#submissionInfo {
    max-width: 50%;
    margin: 0px auto;
    text-align: center;
}

#buttons {
    max-width: 65%;
    margin: 0px auto;
    margin-top: 4vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}